body{
  background-color: rgb(246, 183, 89);
}

.breed-select{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 10px 0;
  border: none;
  border-radius: 20px;
}

.cat-info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.cat-text{
  font-size: 20px;
  margin-right: 20px;
}

.loader{
  font-size: 20px;
  color: rgb(231, 19, 19)
}

.is-hidden{
  display: none;
}




